.btn,
button {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;

    &.light-black {
        border: 1.5px solid;
        border-image: linear-gradient(90deg, #243033 0%, #0D4759 100%) 20% auto;
        color: $body;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-align: center;
        min-width: 110px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        transition: background .3s ease;

        &:hover {
            background: rgba(235, 241, 242, 1);
        }

        &:disabled {
            opacity: 0.3;
        }
    }

    &.black {
        background: linear-gradient(90deg, #243033 0%, #0D4759 100%);
        color: white;
        min-width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border-radius: 14px;
        position: relative;

        span {
            position: relative;
            z-index: 10;
        }

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background: linear-gradient(90deg, #0D4759 0%, #243033 100%);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.25s linear;
            border-radius: 14px;
        }

        &:hover::before {
            opacity: 1;
        }

        &:disabled {
            opacity: 0.3;
        }
    }

    &.btn-text {
        color: $darkerPrimary;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 7px;
        font-size: 14px;
        transition: background .3s ease;

        &:hover {
            color: $primary;
        }

        &:disabled {
            opacity: 0.3;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}