@mixin menuItem {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;

    a {
        text-decoration: none;
        color: $body;
    }
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 30;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 33px 0;
        padding-left: 10px;
        height: 80px;

    }

    .leftSide {
        display: flex;
        align-items: center;
        gap: 10px;

        .hamburger {
            display: none;
        }

        .logo img {
            height: 13px;
        }
    }


    .rightSide {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            li {
                min-width: 90px;
                @include menuItem();
            }
        }
    }

    .mobile {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        max-height: 0;
        opacity: 0;
        transition: all .3s ease;
        visibility: hidden;

        ul {
            li {
                @include menuItem();
                text-align: left;
                padding: 1rem;
            }
        }

        &.active {
            max-height: fit-content;
            opacity: 1;
            visibility: visible;
        }
    }

    @include lt-md {
        .container {
            padding: 0 16px;
        }

        .leftSide .hamburger {
            display: flex;
        }

        .rightSide ul {
            display: none;
        }
    }
}

.slick-list {
    height: 100%;
}